.body {
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  padding-left: 80px;
  padding-right: 80px;
}
body {
  background-color: rgb(245,252,244);
}

.topnav {
  overflow: hidden;
  background-color: #f5fcf4;
  display: flex;
  flex-wrap: wrap;
  
	justify-content: space-between;
	padding: 20px 5%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 20px;
  
}
.together {
  display: flex;
  background-color: #d6e5d8;
  padding: 40px;
  border-radius: 12px;
  width: 444px;
  margin-left: 30PX;
  margin-top: 20px;
}
.btn {
  text-decoration: none;
  color: rgb(253, 253, 253);
  background-color: green;
  border-radius: 10px;
  width: 200px;
  border-style: 2px solid green;
  padding: 6px;
  border: none;
}

.topnav a.active {
  color: black bold;
}
.icon-bar {
  display: none;
}
@media screen and (max-width: 790px) {
  .icon-bar {
    justify-content: end;
  }
  .icon-bar {
    display: block;
  }
 
  .link-icon {
    display: none;
  }
   
}
.flex {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.salad {
  height: 200px;
  width: 300px;
  border-radius: 12px;
  margin-right: 8px;
}
.together {
  display: flex;
  background-color: #d6e5d8;
  padding: 30px;
  border-radius: 12px;
  width: 550px;
  font-size: 25px;
}
.Sal {
  line-height: 30px;
  color: rgb(59,65,58);
  margin-left: 15px;
}
.Explore {
  line-height: 50px;
  padding-top: 80px;
  bottom: 20px;
}
.Mane {
  display: flex; 
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.togeth {
  display: flex;
  background-color: #d6e5d8;
  padding: 15px;
  border-radius: 12px;
  
  margin-left: 30PX;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.Wane {
  height: 100px;
  width: 150px;
  border-radius: 12px;
  margin-right: 8px;
}
.fast {
  color: rgb(59,65,58);
}
.bow {
  display: flex;
  margin-top: -70px;
  flex-wrap: wrap;
}
.footer {
  
  background-color: rgb(214,229,216);
  line-height: 24px;
  display: flex;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
}
.go {
  width: 300px;
  padding: 40px;
  margin: 5px;
  font-size: 20px;
  line-height: 25px;
}
.Cup {
  width: 50%;
}

.Lin a {
  color: #3f3c3c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
}
.Lin {
  padding: 25px;
}
.cuse {
  font-size: large;
  padding: 15px;
  padding-left: 50px;
  color: rgb(75,78,74);
}
.Fam {
  padding: 12px 0;
  color: rgb(63,60,60);
}
.Instar-icon {
  padding: 0 8px;
}
.Follow-Us {
  color: #3b413a;
  padding-bottom: 10px;
}
